@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #d2c3fc 0%, #8ec5fc 100%);
  cursor: default;
}

@font-face {
  font-family: myfont;
  src: url(/assets/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
  font-family: myfont1;
  src: url(/assets/College\ Halo.ttf);
}
a {
  color: #333;
  text-decoration: none;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  font-family: myfont;
  font-size: 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  padding: 20px;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 0px 14px 6px rgba(0, 0, 0, 0.4);
}

.header .logo-desc {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 40px;
  opacity: 65%;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  position: relative;
  padding: 28px 20px;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon::before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  padding: 15px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: rgba(221, 221, 221, 0.7333333333);
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
  float: right;
}

main {
  padding-top: 100px;
}

.skills-nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #d2c3fc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  z-index: 999;
}

.skills-nav::before,
.skills-nav::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
  z-index: 1001;
}

.skills-nav::before {
  left: 0;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0));
}

.skills-nav::after {
  right: 0;
  background: linear-gradient(to left, rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0));
}

.skills-nav ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  animation: scroll-left 35s linear infinite;
}

.skills-nav ul li {
  margin: 0 20px;
}

.skills-nav .skill-link {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  color: rgb(94, 94, 94);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  white-space: nowrap;
}

.skills-nav .skill-link:hover {
  background-color: #ffffff;
}

.skill-card:last-child {
  margin-right: 0;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 20%;
  z-index: -3;
}

.card-wrapper {
  display: flex;
  padding: 20px;
  margin-top: 20px;
}

.panel {
  padding: 50px;
  margin-bottom: 20px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.panel h1 {
  font-size: 2.5rem;
  color: #444;
  text-align: center;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.card {
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
  z-index: 1;
}

#card-gold {
  background: url(/assets/images/—Pngtree—golden\ glitter\ png\ background_5692288.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.705);
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: rgb(37, 37, 252);
}

.card h3 {
  color: rgb(52, 52, 255);
  font-size: 100%;
}

.card a {
  color: rgb(255, 39, 39);
}

.contact-section {
  text-align: center;
  padding: 50px 20px;
  color: #333;
}

.title-section {
  padding: 0px 0px;
  height: 85px;
  text-align: center;
  font-size: 85px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.644);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: myfont1;
  cursor: default;
}

.title-section h1 {
  box-shadow: 5px 0px rgba(0, 0, 0, 0.76);
  text-shadow: 4px 4px 0px rgba(188, 70, 235, 0.5), 8px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.link {
  cursor: pointer;
}

.link:hover {
  padding: 10px;
  border-radius: 2%;
  background-color: orangered;
  color: white;
  transition: 0.2s;
}

h4 {
  font-size: large;
}

.card p {
  width: 250px;
  font-size: 95%;
  cursor: text;
  padding-bottom: 10px;
  line-height: 125%;
}

.email-link {
  display: inline-block;
  margin-bottom: 30px;
}

.email-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.email-icon:hover {
  transform: scale(1.1);
}

.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-icon ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.social-icon ul li {
  margin: 0 25px;
}

.social-icon ul li a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon ul li img {
  width: 30px;
  height: 30px;
  padding: 15px;
}

.social-icon ul li a:hover {
  transform: translateY(-10%);
}

.social-icon ul li:nth-child(1) a:hover {
  background-color: rgb(216, 56, 56);
}

.social-icon ul li:nth-child(2) a:hover {
  background-color: rgb(146, 57, 182);
}

.social-icon ul li:nth-child(3) a:hover {
  background-color: rgb(224, 228, 24);
}

.preview {
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 110px;
  position: relative;
}

.preview iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(0.5);
  border: none;
  pointer-events: none;
}

.pdf-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}

.pdf-iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* Stili per dispositivi mobili (fino a 768px) */
@media (max-width: 768px) {
  .social-icon ul {
    flex-direction: column;
    align-items: center;
  }
  .social-icon ul li {
    margin: 25px 0;
  }
  .header ul {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 10px -15px #111;
  }
  .header ul a {
    border-bottom: 1px solid #bbb;
  }
  .header ul li:last-child a {
    border-bottom: none;
  }
  .panel {
    padding: 20px;
  }
  .skills-nav {
    display: block;
  }
  .skills-nav ul {
    animation: scroll-left 15s linear infinite;
    margin-top: 10px;
  }
  .skills-nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    margin-right: 20px;
  }
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    text-align: center;
    justify-content: center;
  }
  .menu {
    flex-direction: column;
  }
  .menu-btn:checked + .menu {
    display: flex;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  main {
    background: url(/assets/images/PngItem_296433.png);
  }
  p {
    text-align: center;
    margin: 0 auto;
  }
  .contact-section {
    margin-bottom: 25px;
  }
  .social-icon ul {
    flex-direction: column;
    align-items: center;
  }
  .social-icon ul li {
    margin: 10px 0;
  }
  .social-icon ul li a {
    width: 50px;
    height: 50px;
  }
  .social-icon ul li img {
    width: 25px;
    height: 25px;
    padding: 12.5px;
  }
  .social-icon ul li a:hover {
    transform: translateY(-5%);
  }
  .email-icon {
    width: 40px;
    height: 40px;
  }
  .email-icon:hover {
    transform: scale(1.05);
  }
  .social-icon ul li a:focus {
    background-color: #ddd;
    transform: translateY(-5%);
  }
  .pdf-container {
    height: 100%;
  }
  .pdf-iframe {
    height: 100vh;
  }
  .title-section {
    font-size: 56px;
    height: 60px;
  }
  .skills-nav ul {
    animation: scroll-left-mobile 10s linear infinite;
    margin-top: 10px;
  }
  .preview iframe {
    height: 150px;
  }
}
/* Stili per menù mobile */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* Animazioni */
@keyframes scroll-left {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes scroll-left-mobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-250%);
  }
}/*# sourceMappingURL=style.css.map */